/* CSS Document */
@font-face {
	font-family: zhuanshu;
	src: url("../font/篆书字体.ttf");
}

body {
	background-color: #fff0aa;
}

#mainTitle {
	font-family: zhuanshu 楷体 黑体;
	font-size: 250%;
	margin: 0 0 0 0;
	color: #ca5e00;
}

#ben {
	height: 150px;
	width: 150px;
	margin-left: 20%;
	margin-right: 20%;
}

.title {
	margin-top: 15%;
	margin-left: 40%;
	margin-right: 40%;
}

.bLinks {
	text-decoration: none;
	color: #E5A100;
}

li.menu {
	list-style: none;
	font-size: 150%;
}

#backToHome {
	margin-top: 15px;
	margin-left: 40px;
}