
@font-face {
	font-family: 篆书;
	src: url("../font/篆书字体.ttf");
}

/*-----------------------常规-----------------------*/
body {
	background-color: #fff0aa;
}

p.nText {
	color: #ca5e00;
}

a.bLinks {
	/*text-decoration: none;*/
	color: #E5A100;
}

div.back {
	margin-top: 30px;
	margin-left: 50px;
	margin-bottom: 20px;
}

div.descs{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ca5e00;
	flex-direction: column;
	padding-left: 10%;
}

div.contents {
	padding-left: 10%;
}

/*-----------------------主页-----------------------*/
#mainTitle {
	font-family: zhuanshu 楷体 黑体;
	font-size: 300%;
	margin: 0 0 0 0;
	color: #ca5e00;
	font-weight: 100;
}

#ben {
	height: 150px;
	width: 150px;
}

/*菜单*/
li.menu {
	list-style: none;
	font-size: 150%;
}

ul.menu {
	padding: 0;
}

img.lsLogo {
	height: 20px;
	width: 20px;
}

/*-----------------------标题-----------------------*/
.indexTitle {
	margin-top: 15%;
}

div.titles {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ca5e00;
	flex-direction: column;
}

h1 > div.titles {
	color: #ca5e00
}

/*.subtitles{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
*/

/*--------------------------------------------------*/


#backToHome {
	margin-top: 30px;
	margin-left: 50px;
	margin-bottom: 20px;
}

img.homeIcon {
	height: 20px;
	width: 20px;
}

ul.contents {
	list-style-type: none;
}

img.headImg {
	width: 80px;
}

a.items {
	text-decoration: none;
	font-size: 150%;
	color: #ca5e00;
	display: flex;
	align-items: center;
}


